# virtual environments
.venv/
venv/

# python cache
__pycache__/
*.pyc

# environment variables
.env
V0/env/*.env
!V0/env/*.env.example

# OS files
.DS_Store
Thumbs.db

# logs
*.log

# IDE
.vscode/

# Node / frontend
node_modules/
V1/frontend/node_modules/

# PRIVATE Docs
internal_docs/

# Easy schema inspection output
V0/debug/easy_schema/

*.zip

